body{
    background-color: #005f40;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #5abb68;
}
.col{
    background-color: #f1eeee; 
}
.col-4{
    background-color: #f1eeee; 
}
.col-8{
    background-color: #f1eeee; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
.btn-primary{
    color: #f1eeee;
    background-color: #005f40;
    border-color: #005f40;
}
.btn-primary:hover{
    color: #f1eeee;
    background-color: #014730;
    border-color: #014730;
}
